
mixin modal() 
	//  start restore-pass
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-restore-pass"  style="display: none" )
		+b.modal-win--restore-pass
			+form-wrap
				.text-center
					+e.title.form-data Восстановить пароль
					p.after-headline Мы вышлем информацию о том, как сбросить пароль на ваш адрес электронной почты

				+input("Введите эл. почту", 'text', 'Электронная почта')(required)  
				+e.BUTTON.btn.btn.btn-primary(type="submit") Восстановить пароль
				+e.link(href="#") Вернуться к авторизации
	// #modal-call
	div(id="modal-add-to-cart"  style="display: none" )
		+b.modal-win--add-to-cart
			.text-center
				+img('img/svg/check.svg')
				+e.title.form-data Товар добавлен в корзину
				p.after-headline 4B5827302F VAG, дверь правая задняя KIA RIO 3 QB
				+e.row.row
					.col-lg-6 
						+e.btn(href="#").btn.btn-primary Оформить заказ
					.col-lg-6
						+e.btn--2(href="#").btn.btn-outline-secondary Продолжить покупки
	// #modal-add-to-cart
	
	// end modals