mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		+e.container.container
			+e.wrap
				+e.row.row
					.col-md
						+e.content
							h2 Контакты
							+e.item
								+icon('pin')
								p Московская область, г. Люберцы, ул. Котельническая, д. 23
							+e.item
								+icon('call')
								a(href="tel:+79001234567") 
									strong +7 (900) 123-45-67
								+soc()
							+e.item
								+icon('mail')
								a(href="mailto:info@tcnauto.ru") info@tcnauto.ru
							+e.time Ежедневно с 9:00 до 18:00
							+e.btn(href="#").btn.btn-outline-primary Обратный звонок
					.col-md
						+e.map
							#map
	// end sContact