
:root {
	--animate-delay: 1.2s;
	
	--bs-body-font-size: 14px;
	@include media-breakpoint-up(md) {
		--bs-body-font-size: #{$em-base};

	}
	--sPT: 40px;
	--sPB: 40px;
	--sTPB: #{rem(40)};

		--swiperArrowSize: #{rem(50)};
		--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
		// --swiperBorderColorDef: var(--bs-primary);
		--swiperColorDef: #fff;
		--swiperBgDef: #{rgba(#000000, .5)};
	
		// --swiperBorderColorDefHover: var(--bs-primary);
		--swiperColorDefHover: #fff;
		--swiperBgDefHover: #000;


	--fancybox-bg: rgba(24, 24, 27, .77);
	

	--chevron-down: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.86208 7.93103L10 12.069L14.1379 7.93103' stroke='%23E02C2B' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");


	  //  --carousel-button-width: 48px;
	  //  --carousel-button-height: 48px;

	  //  --carousel-button-svg-width: 24px;
	  //  --carousel-button-svg-height: 24px;

	  //  --carousel-button-svg-stroke-width: 2.5;
	  //  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0/ 0.4));

		@include media-breakpoint-up(lg) {
			--header-height: #{rem(130)};
		}
		--header-height: 60px;
}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) {}


//
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}

