// start .headerBlock
.headerBlock {
	@include media-breakpoint-up(sm) {

		margin-bottom: 1px; 
	}
	overflow-x: hidden;

	.swiper-pagination-bullet{
		&:not(.swiper-pagination-bullet-active), 
		&:not(:hover){
			background-color: #fff;
		}
	}
	@include media-breakpoint-up(lg) {

		--sPT: 19px;
	}
	--sPT: 0;
	--sPB: 23px;
	@include media-breakpoint-down(lg) {
		.container{
			padding-left: 0;
			padding-right: 0;
			max-width: 100%;
		}
	}
	&__new-slide{
		overflow: hidden;
		@include media-breakpoint-up(lg) {

			border-radius: 15px;
		}
		position: relative;
		background: linear-gradient(125.57deg, #A2A3AA 29.15%, #EFF1F7 74.26%, #A1A3AA 120.32%);
	}
	&__container {
		position: relative;
	}
	.head-logo{
		@include media-breakpoint-down(sm) {
			img{
				height: auto;
				max-width: 57px;
			}
		}
		@include media-breakpoint-up(sm) {

			position: absolute;
			right: 29px;
			top: rem(33);
		}
		margin-bottom: 25px;
	}
	.picture-bg img{
		object-position: top;
	}
	color: #fff;
	&__btn{
		@extend .btn, .btn-outline-white;
	}
	&__slide{
		@include media-breakpoint-up(sm) {

			padding: rem(48) rem(96);
			min-height: 421px;
		}
		height: auto;
	}
	&__label{
		font-weight: 600;
		font-size: 11px;
		line-height: calc(16 /11);
		/* identical to box height, or 145% */
		margin-bottom: rem(22);
		letter-spacing: 0.17em;
		text-transform: uppercase;

		/* White */

		color: #FFFFFF;

	}
	.h1{
		line-height: calc(60 /50);
		max-width: em(160);
		font-weight: 800;
		margin-bottom: rem(5);
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(20);
		}
		@include media-breakpoint-up(xxl) {
			font-size: 50px;
			// margin-left: auto;
			// margin-right: auto;
			// max-width: 270px;
			// margin-bottom: 20px;
		}
	}
	p{
		max-width: 290px;
		margin-bottom: rem(32);
	}
	&__btn{
		height: rem(50px);
		width: rem(180px);
		display: inline-flex;
		justify-content: center;
		align-items: center;

	}
	&__slider{
		// overflow: visible;
		// max-width: 1283px;
		// &::before,
		// &::after{
		// 	z-index: 2;
		// 	content: '';
		// 	background-color: $body-bg;
		// 	height: 102%;
		// 	top: 0;
		// 	position: absolute;
		// 	width: 100vw;
		// }
		// &::before{
		// 	left: 100%;
		// }
		// &::after{
		// 	right: 100%;
		// }
	}

	.swiper-pagination{
		margin-top: -34px;
		// padding-bottom: 10px;
		margin-bottom: 6px;
		&-bullet{

			position: relative;
			z-index: 4;
		}
	}
	--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2 + 20px);
	.swiper-button-hand {
		&-prev {
			// left: -10px;
		}
		&-next {
			// right: -10px;
		}
	}

	@include media-breakpoint-down(sm) {
		&__head{
			position: relative;
		}
		&__head{
			padding: 26px 15px;
		}
		&__body{
			padding: 16px 15px 72px;
			background: #F8F8F8;
			p{
				margin-left: auto;
				margin-right: auto;
			}
			// @include media-breakpoint-up(sm) {
				color: $body-color;
			// }

		}
	}

	&__text-wrap {
		// @include media-breakpoint-down(md) {
		// 	text-align: left;
		// 	padding: rem(32) rem(24);
		// 	.h1 {
		// 		margin-left: unset !important;
		// 	}
		// }
		position: absolute;
		left: 20px;
		top: 20px;
		text-align: left;
		@include media-breakpoint-up(lg) {
			left: 60px;
			top: 60px;
		}
		 
	}
	@include media-breakpoint-down(md) {
		.slider-bg {
			// background-color: #566169;
			img {
				// opacity: .5;
				object-position: bottom;
			}
		}
	}
	&__new-slide {
		// position: relative;
		@include block(360, 358); 
		@include media-breakpoint-up(xxl) {
			--ratio: 420/1280;
		}
		@include media-breakpoint-up(xl) {
			--ratio: 488/1280;
		}
		@include media-breakpoint-up(lg) {
			--ratio: 587/1280;
		}
		@include media-breakpoint-up(md) {
		}
		// --ratio: 360/358;
	}
	&__caption--2 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.h1 {
			@include media-breakpoint-down(sm) {
				margin-left: unset;
				margin-right: unset;
			}
		}
		.headerBlock__text-wrap {
			// max-width: rem(437);
			@include media-breakpoint-down(lg) {
				height: 100%;
				width: 100%;
			}
		}
		.headerBlock__btn {
			@include media-breakpoint-down(lg) {
				position: absolute;
				left: -24px;
				top: -32px;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		}
		.picture-bg {
			img {
				@include media-breakpoint-between(md, lg) {
					object-position: 11%;
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {
		
	}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}

 
	@include media-breakpoint-down(sm) {
		text-align: center;
	}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock