// start .sMainCatalog
.sMainCatalog {
	--sPT: #{rem(15)};
	--sPB: #{rem(40)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(20)};
		--sPB: #{rem(80)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.page-head {
		padding-top: 0;
		padding-bottom: rem(15);
		.container {
			--bs-gutter-x: 0;
		}
		.breadcrumb-slider--js {
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__button {
		width: 100%;
		font-size: 12px;
		padding: 10px;
		background-color: #F5F5F8;
		border-radius: 6px;
		margin-bottom: 15px;
		text-align: center;
		cursor: pointer;
		.icon {
			color: $primary;
			font-size: rem(16);
			margin-right: rem(10);
		}
	}
	&__side-bar {
		@include mt;
		width: 100%;
		// max-width: rem(290);
		@include media-breakpoint-down(lg) {
			position: fixed;
			top: 0;
			left: 0;
			width: 275px;
			height: 100%;
			background-color: #fff;
			z-index: 1000;
			transform: translateX(-100%);
			overflow: auto;
			max-height: 100%;
			height: 100vh;
		}
		&.active {
			@include media-breakpoint-down(lg) {
				transform: translateX(0);
			}
		}
	}
	&__title {
		font-size: 16px;
		padding: 18px rem(50) 18px rem(20);
		border-bottom: 1px solid #E8E8ED;
		font-weight: 600;
	}
	&__close {
		cursor: pointer;
		position: absolute;
		top: 18px;
		right: 20px;
		width: 20px;
		height: 20px;
		&::after, &::before {
			@include a-cent();
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			border-radius: 3px;
			background-color: #BFC1C7;
		}
		&::after {
			transform: rotate(-45deg);
		}
		&::before {
			transform: rotate(45deg);
		}
	}
	.search-block {
		margin-bottom: rem(20);
		@include media-breakpoint-down(lg) {
			margin: 20px;
		}
		input {
			border-radius: 8px;
			padding: rem(14.5) rem(40) rem(14.5) rem(15);
			background-color: transparent;
			border: 1px solid #E8E8ED !important;
			@include media-breakpoint-down(lg) {
				padding: 9px rem(40) 9px rem(15);
			}
			&:focus {
				border-color: $primary !important;
			}
		}
		button {
			left: unset;
			right: 3px;
			color: $secondary;
		}
	}
	&__wrap {
		@include media-breakpoint-down(lg) {
			padding: 0 20px 20px 20px;
		}
	}
	&__link {
		padding: rem(10) rem(15);
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: rem(14);
		color: #000;
		border-radius: 6px;
		&:not(:last-child) {
			margin-bottom: rem(5);
		}
		.icon {
			font-size: rem(16);
			color: $primary;
			margin-right: rem(10);
		}
		span {
			color: $secondary;
			margin-left: auto;
		}
		&:hover {
			background-color: #F5F5F8;
			color: $primary;
			span {
				@include mt;
				color: $secondary;
			}
		}
		&.active {
			background-color: $primary;
			color: #fff;
			span {
				color: #fff;
			}
		}
	}
	&__catalog-row {
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(30)};
	}
	&__show-more {
		text-align: center;
		width: 100%;
		--bs-btn-color: #{$primary};
		--bs-btn-bg: #F5F5F8;
		--bs-btn-border-width: 0;
		--bs-btn-border-radius: 6px;
		--bs-btn-padding-y: #{rem(8)};
		--bs-btn-hover-color: #{$primary};
		--bs-btn-hover-bg: #cccccd;
		--bs-btn-active-color: #{$primary};
		--bs-btn-active-bg: #cccccd;
		.icon{
			font-size: rem(20);
			vertical-align: sub;
		}
	}
	&__type {
		display: flex;
		align-items: center;
		margin-bottom: rem(30);
		a {
			padding: rem(8.5) rem(24);
			color: #000;
			background-color: #F5F5F8;
			border-radius: 60px;
			border: 1px solid transparent;
			font-size: rem(14);
			&:not(:last-child) {
				margin-right: rem(5);
			}
			&:hover, &.active {
				background-color: #fff;
				border-color: #0C78ED;
				color: #0C78ED;
			}
		}
	}
	&__input {
		font-size: rem(14);
		padding: rem(8.5) rem(38) rem(8.5) rem(15);
		background-position: right 0.65rem center;
		font-size: rem(14);
		cursor: pointer;
		border-radius: 6px;
	}
	&__sort-row {
		p {
			margin-bottom: rem(20);
			font-size: rem(14);
		}
	}
	&__sort {
		font-size: 12px;
		color: $secondary;
		cursor: pointer;
	}
	&__mob-sort {
		@include mt;
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		width: 275px;
		height: 100%;
		background-color: #fff;
		z-index: 1000;
		transform: translateX(-100%);
		&.active {
			transform: translateX(0);
		}
		.form-wrap {
			padding: 20px 20px 0 20px;
			&__title {
				font-size: 14px;
			}
			.custom-input {
				&:not(:last-child) {
					margin-bottom: rem(10);
				}
				&__input[type=radio] {
					margin-top: 1px;
				}
			}
		}
	}
	&__sort-btn {
		margin: auto 20px 20px 20px;
	}
	select {
		margin-bottom: rem(30);
	}
	&__nothing {
		padding: rem(10);
		font-size: rem(14);
		font-weight: 600;
	}

	.tabs {
		@include media-breakpoint-down(lg) {
			margin: 20px;
		}
		&__caption {
			display: flex;
			align-items: center;
			margin-bottom: rem(20);
		}
		&__btn {
			@include mt;
			width: 50%;
			padding: rem(9);
			border: 1px solid #E8E8ED;
			text-align: center;
			font-size: rem(14);
			color: $secondary;
			&:first-child {
				border-radius: 8px 0 0 8px;
				border-right-color: #0C78ED;
			}
			&:last-child {
				border-radius: 0 8px 8px 0;
				border-left: none;
			}
			&.active, &:hover {
				background-color: rgba($color: #0C78ED, $alpha: .1);
				border-color: #0C78ED;
				color: #000;
			}
		}
		.dd-group {
			margin-bottom: rem(20);
			&__item {
				border: 1px solid #E8E8ED;
				box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
				border-radius: 6px;
				&:not(:last-child) {
					margin-bottom: rem(5);
				}
				&.active {
					.dd-group__head {
						&:before {
							transform: translateY(-50%) rotate(0deg);
						}
					}
					.dd-group__content {
						// display: block ;
					}
				}
			}
			&__head {
				cursor: pointer;
				padding: rem(10) rem(40) rem(10) rem(15);
				font-size: rem(14);
				font-weight: 600;
				position: relative;
				&:before {
					@include mt;
					content: '';
					position: absolute;
					display: block;
					width: 20px;
					height: 20px;
					right: 10px;
					top: 50%;
					transform: translateY(-50%) rotate(180deg);

					background-image: url('../img/svg/chevron-down.svg');
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;

				}
			}
			&__content {
				padding: rem(5) rem(15) rem(15);
			}
			.custom-input {
				&:not(:last-child) {
					margin-bottom: rem(15);
				}
				&__input {
					margin-top: rem(2.400);
				}
			}
		}
		.form-wrap {
			&__reset, &__set {
				width: 100%;
				border-radius: 8px;
			}
			&__reset {
				margin-bottom: rem(10);
				--bs-btn-padding-y: #{rem(13)};
				--bs-btn-border-width: 0;
				--bs-btn-bg: #F5F5F8;
				--bs-btn-hover-bg: #e7e7e7;
				--bs-btn-active-bg: #F5F5F8;
			}
			&__set {
				--bs-btn-padding-y: #{rem(12)};
			}
		}
	}
	&__headline {
		font-size: rem(16);
		font-weight: 600;
		margin-bottom: rem(20);
		@include media-breakpoint-down(lg) {
			font-size: rem(14);
			margin: 20px 0 20px 20px;
		}
	}
	.prod-item {
		@include media-breakpoint-down(sm) {
			border-bottom: 1px solid #E8E8ED;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sMainCatalog