extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sCart/_sCart.pug 
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '07-basket-2.jpg'

block title
	- let  title= "Корзина"
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+topLine 
		+top-nav()
	+page-head(title, 'Главная', title)
	
	+sCart('true')
	
	+footer()
      



