extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/slogIn/_slogIn.pug 
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '08-login.jpg'

block title
	- let  title= "Мой кабинет"
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+topLine 
		+top-nav()
	+page-head(title, 'Главная', title)
	+slogIn()
	
	+footer()
      



