extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
include ../blocks/sMyProfile/_sMyProfile.pug 
include ../blocks/sProfileNothing/_sProfileNothing.pug 
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'profile-page' 
	- let  bg= '11-my-profile-3.jpg'

block title
	- let  title= "Мои заказы"
	title= title
block pagecontent
	//- +mob-mnu()
	
	+header()
		+topLine 
		+top-nav()

	+sMyProfile()
		+sProfileNothing('Вы еще ничего не заказывали', 'Вернитесь в&nbsp;каталог и&nbsp;совершите первую покупку')
	+footer()
