extends ../layout/main2.pug

include ../blocks/sPwa/_sPwa.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= ''

block title
	- let  title= "Добавить запчасть"
	title= title
block pagecontent
	//- +mob-mnu()
	
	.pwa-container
		+sPwa3('', 'true', '', 'Отправить', 'true')

block map
	script.
		$('.select-custom-js').select2({
			dropdownParent: $('.select-custom-js').parents(".form-wrap__input-wrap"),
			tags: true,
			multiple: true,
			placeholder: 'Начните вводить',
			tokenSeparators: [',']
		});

