extends ../layout/main2.pug

include ../blocks/sPwa/_sPwa.pug

block variables
	- let  mainPage= 'pwa-page' 
	- let  bg= ''

block title
	- let  title= "Запчасть Добавлена"
	title= title
block pagecontent
	//- +mob-mnu()
	
	.pwa-container
		+sPwa3('', '', 'true', 'Добавить запчасть')



