// start .sGuarantee
.sGuarantee {
	--sPT: #{rem(0)};
	--sPB: #{rem(30)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(10)};
	}
	p {
		line-height: 1.50em;
		margin-bottom: 0;
		&:not(:last-child) {
			margin-bottom: rem(24.800);
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sGuarantee