mixin sGuarantee(data)
	// start sGuarantee
	+b.sGuarantee.section#sGuarantee&attributes(attributes)
		.container
			p На&nbsp;все товары приобретённые в&nbsp;нашем магазине действует гарантия. Гарантия на&nbsp;все товары предоставляется в&nbsp;течение двух недель со&nbsp;дня приобретения.
			p Возврат и&nbsp;обмен возможен в&nbsp;течение 14&nbsp;дней со&nbsp;дня покупки при наличии товарного чека и&nbsp;состоянии запчасти в&nbsp;котором она была до&nbsp;приобретения.
	// end sGuarantee