.menu{
	@include media-breakpoint-up(xl) {
		--bs-gutter-x: 30px;
	}
	@include media-breakpoint-up(lg) {

		display: flex;
		text-align: center;
		@include roww(18px);
		flex-wrap: wrap;
	}
	
	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	li{
		
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a{
		font-weight: 600;
		display: block;
		@include media-breakpoint-up(xl) {

			padding: rem(28) rem(15);
		}
		padding: rem(28) rem(9);
		--bs-link-color: #{$body-color};
	}
}



.toggle-menu-mobile {
	--h: 2px;
	--color: #{$body-color};
	--position: calc(var(--h) * 3);
	&.on {
		--color: transparent;
		span:before, span:after {
			--color: #000;
		}
	}

	&.on  { 
		--position: 0; 
		--rotate: 45deg;
	}
	display: block;
	height: calc(var(--h)* 12);
	position: relative; 
	font-size: 20px;
	width: 1em;
	cursor: pointer;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	} 
	span {
		@include a-cent(y);
		display: block;
	}

	span:before { 
		top: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: var(--h);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden; 
		transform-origin: 50% 50%;
	} 
}
.menu-mobile {
	@include media-breakpoint-up(lg) {
	.container{
		padding-left: 0;
		padding-right: 0;
	}
	.search-block {
			display: none;
		}
	}
}
@include media-breakpoint-down(lg) {

	

	.menu-mobile {
		position: fixed !important;
		z-index: 900;
		// max-width: 85%;
		height: calc((var(--vh) * 100) - var(--header-height));
		width: 100%;
		top: calc(var(--header-height) + 1px);
		// left: 0;
		right: 0;
		background-color: $body-bg;
		&:not(.active){
			transform: translate3d(0, -120%,0);
			--opacity: 0;
			.toggle-menu-mobile{
				opacity: 0;
			}
		}
		@include mt(.6s);
		will-change: transform;

		
		.toggle-menu-mobile { 
			margin-left: -15%;
			position: absolute; 
			left: 0;
			right: auto;
			color: #FFF;
			top: 10px;
			z-index: 9999; 
			span:after,
			span:before {
				--color: #ffffff;
			}
		}
		&__inner {
			// padding: rem(20) 0;
			padding-bottom: 40px;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100%;
			@include mt(.3s);
			transition-delay: .4s;
			opacity: var(--opacity);

			display: flex;
			flex-direction: column;
		}

		&.active { 
			.toggle-menu-mobile {
				opacity: 1;
			}
		}


		ul {
			position: relative;
		}

		li {
			display: block;
			margin: 0;
			border-top: 1px solid rgba(255, 255, 255, .13);

			a {
				// font-size: 16px;

				padding: 10px 0;
				display: block;

			}
		}
		.top-nav__head{

			border-bottom: 1px solid #E8E8ED;
			margin-bottom: 30px;
		}
		.search-block {
			input {
				padding: 20px 30px 20px 0;
			}
			button {
				left: unset;
				right: -3px;
				color: #000;
			}
		}
		.container {
			height: 100%;
			display: flex;
			flex-direction: column;
		}
	}
}