.top-nav {
	border-bottom: 1px solid #E8E8ED;
	@include media-breakpoint-up(lg) {
		padding: 0;
	}
	padding-top: 10px;
	padding-bottom: 10px;
  .row{
		align-items: center;
	}
	&__tel{
		@extend .text-body;
		.icon{
			font-size: 20px;
		}
	}

	@include media-breakpoint-up(xxl) {
		&__logo{
			margin-right: rem(20);
		}
	}
	&__content {
		margin-top: auto;
		padding: 0 20px;

	}
	&__phone-link {
		display: flex;
		margin-bottom: 15px;
		align-items: center;
		margin-bottom: 15px;
		a {
			font-weight: 700;
			margin-right: rem(10);
			font-size: 16px;
			&:not(:hover) {
				color: #000;
			}
			.icon {
				font-size: 20px;
				color: $primary;
				flex: 0 0 auto;
				margin-right: 10px;
			}
		}
		.soc {
			&__item {
				margin-right: rem(4);
			}
		}
	}
	&__mail {
		display: block;
		font-size: 16px;
		margin-bottom: 15px;
		&:not(:hover) {
			color: #000;
		}
		.icon {
			font-size: 20px;
			margin-right: 10px;
			color: $primary;
		}
	}
	&__adress {
		font-size: 14px;
		margin-bottom: 15px;
	}
	&__time {
		font-size: 14px;
		color: $secondary;
	}
	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}



	@include media-breakpoint-down(lg) {
		&__logo{
			img{
				height: 40px;
			}
		}
	}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}


.head-btns{
	display: flex;
	align-items: center;
	@include media-breakpoint-down(lg){
		justify-content: space-between;
		margin-left: auto;
		
	}
	@include media-breakpoint-up(lg) {
		@include roww(16px);

	}
	@include media-breakpoint-up(xl) {

		--bs-gutter-x: 30px;
	}
	padding: 0;
	&__btn{
		display: inline-flex;
		align-items: center;
		color: $body-color;
		background: none !important;
		box-shadow: none !important;
		border: none !important; 
		outline: none !important;
		cursor: pointer;
		@include media-breakpoint-down(lg){
			padding: 16px;
		}
		@include mt;
		&:hover{
			color: $primary;
		}
		.icon{
			font-size: rem(20);
		}
	}
	&__icon-wrap{
		position: relative;
	}
	&__counter{
		position: absolute;
		right: rem(-5);
		top: rem(-5);
		background-color: $primary;
		font-size: rem(10px);
		padding-top: em(1);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #fff;
		width: rem(14);
		height: rem(14);
		font-weight: bold;
	}
	&__text{
		margin-left: rem(15);
	}
}

.head-btns-wrap{
	@include media-breakpoint-down(lg) {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #fff;
		border-top: 1px solid #E8E8ED;
		z-index: 1;
	}
}