mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			//- +search
			//- +mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col-auto.d-lg-none
					+menu-toggle()
				+e.logo.col-lg-auto.col.text-center
					a(href="/")
						img(src="img/svg/logo.svg", alt="")
				.col-lg.order-lg-0.order-last
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+e.head.d-lg-none
								.container
									+search
							.container
								+mnu()
								+e.content.d-block.d-lg-none
									+e.phone-link
										a(href="tel:+79001234567") 
											+icon('call')
											| +7 (900) 123-45-67
										+soc()
									+e.mail(href="mailto:info@tcnauto.ru")
										+icon('mail')
										| info@tcnauto.ru
									+e.adress г. Люберцы, ул. Котельническая, д. 23
									+e.time Ежедневно с 9:00 до 18:00
				+b.head-btns-wrap.col-auto
					+b.head-btns.container
						+e.btn(href="/").d-lg-none
							+icon("home")
						+e.btn(href="#")
							+icon("login") 
						+e.btn(type="button") 
							+icon("favorites")
						+e.btn--cart
							+e.icon-wrap
								+icon("basket")
								+e.counter 0
							+e.text.d-none.d-xl-block Корзина
				.col-auto.d-lg-none
					+e.tel
						+icon("tel")
					+b.tel-block
						+e.dropdown
							+e.call(href="tel:+79001234567")
								+icon('call')
								| +7 (900) 123-45-67
							+soc()
								+item-sos()(style="--bg:#2FA6D9")
									+img('img/svg/telegram-sm.svg')
								+item-sos()(style="--bg:#00C958")
									+img('img/svg/call.svg')
								+item-sos()(style="--bg:#8852C1")
									+img('img/svg/vibe.svg')
	// end top-nav