mixin slogIn(data)
	// start slogIn
	+b.slogIn.section#slogIn&attributes(attributes)
		.container
			+form-wrap
				+input('Введите эл. почту', 'email', 'Электронная почта')
				+e.input-wrap--pass.form-group
					+e.input-title
						| Пароль
						+e.forget(href="#" data-src='modal-restore-pass' data-fancybox="modal") Забыли пароль?
					label
						+e.INPUT.input.form-control(name="password" type="password" placeholder="Введите пароль")
					.input-btn--password-toggle
						+icon('eye')
				+e.BUTTON.btn(type="submit").btn.btn-primary Войти
				+e.create-account
					| У вас еще нет аккаунта? 
					a(href="#" data-src='modal-reg' data-fancybox="modal") Создать аккаунт
	// end slogIn