// start .sCart
.sCart {
	--sPT: #{rem(0)};
	--sPB: #{rem(40)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		// --sPT: #{rem(1)};
		--sPB: #{rem(80)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(20)};

	}
	&__clear {
		font-size: rem(14);
		color: $secondary;
	}
	&__head {
		margin-bottom: rem(18.400);
		@include media-breakpoint-up(lg) {
			margin-right: rem(20);
		}
	}
	&__head-link {
		font-size: rem(12);
		&:not(:last-child) {
			margin-right: rem(20);
		}
		&:not(:hover) {
			color: #000;
		}
		@include media-breakpoint-up(md) {
			font-size: rem(14);
		}
		img {
			margin-right: rem(10);
		}
	}
	&__body {
		padding: rem(15) 0;
		border-radius: 15px;
		margin-bottom: 0;
		@include media-breakpoint-up(lg) {
			margin-right: rem(20);
		}
		@include media-breakpoint-up(md) {
			border: 1px solid #E8E8ED;
			padding: rem(40);
			margin-bottom: rem(18);
		}
	}
	&__item{
		position: relative;
		padding: rem(19.680) 0;
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
		}
		&:not(:first-child) {
			border-top: 1px dashed #E8E8ED;
		}
	}
	&__img-wrap {
		@include block(120, 100);
		width: rem(96);
		overflow: hidden;
		border-radius: 10px;
		z-index: 4;
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 27.16%);
			top: 0;
			left: 0;
		}
		@include media-breakpoint-up(md) {
			width: rem(120);
		}
		img {
			@include mt;
		}
	}
	&__inner-row {
		align-items: center;
	}
	&__content {
		display: flex;
    flex-direction: column;
    align-items: flex-start;
		.h6 {
			// @include mt;
			font-weight: 700;
			margin-bottom: rem(5);
		}
		a {
			&:not(:hover) {
				color: #000;
			}
		}
	}
	&__title {
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	&__storage {
		font-size: rem(12);
		margin-bottom: rem(5);
		@include media-breakpoint-up(md) {
			font-size: rem(14);
		}
		&-key {
			color: $secondary;
			margin-right: rem(11);
			display: inline-block;
			@include media-breakpoint-up(md) {
				margin-right: rem(1.800);
			}
		}
		&-val {
			display: inline-block;
		}
	}
	&__label {
		color: #fff;
		background-color: var(--bgColor, #36B555);
		font-size: rem(12);
		padding: rem(2) rem(6);
		border-radius: 3px;
		font-weight: 600;
		@include media-breakpoint-up(md) {
			font-size: rem(14);
		}
	}
	&__delete {
		position: relative;
		z-index: 2;
		&:hover {
			// color: #36B555;
			opacity: .5;
		}
		.icon {
			font-size: rem(20);
		}
	}
	&__btn {
		width: 100%;
		--bs-btn-padding-y: #{rem(9.5)};
		--bs-btn-font-size: #{rem(14)};
		--bs-btn-font-weight: 400;
		--bs-btn-line-height: 1.43em;
		--bs-btn-border-width: 0;

		--bs-btn-color: #000;
		--bs-btn-bg: #F5F5F8;
		--bs-btn-border-color: transparent;
		--bs-btn-hover-bg: #ececf2;
		--bs-btn-hover-color: #000;
		--bs-btn-active-color: #000;
		--bs-btn-active-bg: #ececf2;
		--bs-btn-active-border-color: #ececf2;

		border-radius: 6px;
		&:hover, &:focus {
			// .icon {
			// 	color: #fff;
			// }
		}
		.icon {
			@include mt;
			color: $primary;
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			font-size: rem(20);
		}
	}
	&__footer {
		@include media-breakpoint-up(lg) {
			margin-right: rem(20);
		}
	}
	&__total {
		border-radius: 15px;
		padding: rem(20);
		border: 1px solid #E8E8ED;
		@include media-breakpoint-up(md) {
			border: none;
			box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
			padding: rem(40);
		}
		@include media-breakpoint-up(lg) {
			margin-top: rem(44);
		}
		h4 {
			margin-bottom: rem(31.200);
		}
		.form-wrap {
			padding-top: rem(20);
			@include media-breakpoint-up(md) {
				padding-top: rem(30);
			}
			&__row {
				--bs-gutter-x: #{rem(10)};
				--bs-gutter-y: #{rem(10)};
			}
			&__input-wrap {
				width: 100%;
				@include media-breakpoint-up(xxl) {
					max-width: rem(180);
				}
			}
			&__input {
				padding: rem(11.5) rem(20);
				font-size: rem(14);
				color: $secondary;
				@include media-breakpoint-up(md) {
					padding: rem(13.5) rem(20);
				}
			}
			&__btn {
				width: 100%;
				--bs-btn-padding-y: #{rem(10)};
				border-radius: 8px;
				@include media-breakpoint-up(md) {
					--bs-btn-padding-y: #{rem(12)};
				}
			}
			&__inncorect {
				font-size: rem(14);
				color: $primary;
				margin-bottom: 0;
				text-align: center;
				padding-top: rem(14);
			}
		}
	}
	&__price-row {
		--bs-gutter-x: 0;
		padding-bottom: rem(15);
		padding-top: rem(15);
		border-bottom: 1px dashed #E8E8ED;
		font-size: rem(14);
		&--last {
			border-bottom: none;
		}
	}
	&__wrap {
		margin-top: rem(-15);
		// margin-bottom: rem(15);
		// @include media-breakpoint-up(md) {
		// 	margin-bottom: rem(24.800);
		// }
	}
	&__full-price {
		text-align: right;
		margin-bottom: rem(20) !important;
		padding-top: rem(15);
		@include media-breakpoint-up(md) {
			padding-top: rem(24.800);
			margin-bottom: rem(30) !important;
		}
		&--correct-promocode {
			padding-top: rem(8.200);
			@include media-breakpoint-up(md) {
				padding-top: rem(8.200);
			}
		}
	}
	&__make-order {
		width: 100%;
		// margin-bottom: rem(20);
		--bs-btn-padding-y: #{rem(8.540)};
		@include media-breakpoint-up(md) {
			--bs-btn-padding-y: #{rem(17)};
			// margin-bottom: rem(30);
		}
	}
	&--empty {
		--sPT: #{rem(15.575)};
		@include media-breakpoint-up(lg) {
			--sPT: #{rem(36)};
		}
		.sCart {
			&__wrap {
				display: flex;
				flex-direction: column;
				align-items: center;
				@include media-breakpoint-up(md) {
					padding: rem(60) 0;
					background-color: #F5F5F8;
					border-radius: 15px;
				}
				img {
					margin-bottom: rem(23.200);
				}
				h3 {
					margin-bottom: rem(16.600);
					@include media-breakpoint-down(md) {
						font-size: rem(16);
					}
				}
				p {
					margin-bottom: rem(18.400);
					font-size: rem(14);
					text-align: center;
					@include media-breakpoint-up(md) {
						font-size: rem(16);
					}
				}
			}
			&__btnEmpty {
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				--bs-btn-padding-y: #{rem(11)};
				--bs-btn-font-size: #{rem(14)};
				@include media-breakpoint-up(md) {
					max-width: rem(240);
					--bs-btn-padding-y: #{rem(12)};
					--bs-btn-font-size: #{rem(16)};
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCart